@import url("colours/nord.css");

@define-color default-bg-col alpha(@nord1, 0.5/* 4 */);
@define-color active-workspace-col alpha(@nord0, 0.5);
@define-color default-text-col @nord5;
@define-color default-window-text-col @nord4;
@define-color active-workspace-text-col @nord6;
@define-color active-workspace-shadow-col @nord5;


* {
	font-family: JetBrains Mono Nerd Font;
	border-radius: 10px;
	background: transparent;
}

#tooltip,
#power,
#quit,
#lock,
#reboot,
#power,
#workspaces,
#window,
#group-right {
	background-image /* -color */ : linear-gradient(to top, alpha(@nord2, 0.5625 /* 4375 */ ) 0%, @default-bg-col 25%, @default-bg-col 50%, @default-bg-col 50%, alpha(@nord3, 0.5625) 100%); /* @default-bg-col; */
	color: @default-text-col;

	margin: 2.5px;
	margin-top: 1px;
	margin-bottom: 2.5px;
	border-radius: 10px;

	border-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: alpha(@nord6, 0.2) alpha(@nord5, 0.2) alpha(@nord4, 0.2);
	
	padding: 5px 10px;
	transition: color, box-shadow 0.25s;
}

#group-right {
	padding: 0px
}

#upower,
#wireplumber,
#tray,
#clock {
	background-color: transparent;
	color: @default-text-col;
    margin: 2.5px;
	padding: 5px 10px;
}

#tooltip,
#workspaces:hover,
#window:hover,
#group-right:hover {
	box-shadow: 0px 0px 2.5px @active-workspace-shadow-col;
	transition: box-shadow 0.25s
}

#window {
	transition: background-color, background-image, border-color, size, width, height 0.5s;
}

window#waybar.empty #window {
	background-image: none;
	border-color: transparent;
	transition: background-color, background-image, border-color 0s;
}

#workspaces button {
	color: @default-window-text-col;
	margin: 2.5px;
	border-radius: 7.5px;
	padding: 2.5px 10px 2.5px 5px;
	box-shadow: 0px 0px 0px @nord5, 0px 1px 2.5px alpha(black, 0.25);
	transition: color, background, box-shadow 0.125s;
}

#workspaces button:hover {
	color: @default-text-col;
	transition: color 0.125s;
}

#workspaces button.active {
	background-color: @active-workspace-col;
	color: @active-workspace-text-col;
	box-shadow: 0px 1px 2.5px @active-workspace-shadow-col;
	transition: color, background, box-shadow 0.125s;
}

tooltip,
menu,
#tray menu {
	background-color: @active-workspace-col;
	color: @default-window-text-col;
	box-shadow: 0px 0px 0px;
}
